
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-1-QvJ {
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #202020;
  box-sizing: border-box;
  padding-top: 4.7rem;
  width: 100%;
  overflow: hidden;
  display: flex;

  .auto-group-vydu-B3t {
    margin: 0rem 2.1rem 28rem 5.9rem;
    width: calc(100% - 8rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .item--Se2 {
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.4rem 0.1rem 0rem 0rem;
      max-width: 80.6rem;
      font-size: 4.8rem;
    }
    .img2akspic-1-RGz {
      border-radius: 44.2rem;
      flex-shrink: 0;
      width: 103.3rem;
      height: 75.3rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .line-1-WZL {
    margin-bottom: 3.7rem;
    width: 100%;
    height: 0.1rem;
    background-color: #ffffff;
    flex-shrink: 0;
  }
  .auto-group-obxl-F18 {
    margin: 0rem 7.3rem 28.2rem 5.9rem;
    width: calc(100% - 13.2rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .img1akspic-1-ZnW {
      border-radius: 34.7rem;
      flex-shrink: 0;
      margin-right: 11.3rem;
      width: 86.7rem;
      height: 76.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .item--tpn {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2.9rem;
      max-width: 80.8rem;
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .line-2-jsL {
    background-color: #ffffff;
    flex-shrink: 0;
    width: 100%;
    height: 0.1rem;
  }
  .auto-group-cdd8-gGn {
    padding: 4.6rem 2.1rem 45.1rem 5.9rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-ytwy-QTg {
      margin-bottom: 38.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .item--wyQ {
        max-width: 80.5rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.4rem 0.2rem 0rem 0rem;
      }
      .img2akspic-1-yh8 {
        border-radius: 44.2rem;
        flex-shrink: 0;
        width: 103.3rem;
        height: 75.3rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .rectangle-1-Udt {
      flex-shrink: 0;
      margin: 0rem 41.3rem 0rem 44rem;
      width: calc(100% - 85.3rem);
      height: 30.4rem;
      backdrop-filter: blur(0.2rem);
      background-color: rgba(221, 155, 155, 0.2899999917);
      border-radius: 8.6rem;
    }
  }
}
